<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>Login</title>
</head>
<body>
    <!-- for common file <%- %> -->
    <%- include("common/head") %> 
    <h1>Login</h1>
    <ul>
        <!-- for Array of object <% %> -->
        <% skill.forEach(e=> { %>
            <li><%= e %></li>
        <% }) %>
    </ul>
</body>
</html>